body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Use linear gradient for background with opacity */
    background: linear-gradient(rgba(255, 254, 253, 0.7), rgba(255, 254, 253, 0.9)),
                url("bg.png") center center fixed;
    background-size: cover;
  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5)
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 16x;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-y: auto;
  }
  
  .left {
    left: 0;
    background-color: rgba(241, 241, 241, 0.5); /* Transparent background color */
  }
  
  .right {
    right: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent background color */
  }
  
  .centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  #search-bar {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  #search-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #020f06;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #search-button:hover {
    background-color: #45a049;
  }
  
  #vehicle-list {
    list-style: none;
    padding: 0;
  }
  
  #vehicle-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #vehicle-details {
    margin-top: 20px;
  }
  
  #vehicle-details h2 {
    margin-top: 0;
  }
  