body {
  background: linear-gradient(rgba(255, 254, 253, 0.7), rgba(255, 254, 253, 0.9)),
    url("bg.png") center center fixed;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

h1 {
  font-size: xx-large;
  font-weight: 900;
  color: black
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 17%;
  left: 20%;
  margin: auto transform:translate(-50%, -50%);
}

ul {
  list-style: none;
  /* Remove HTML bullets */
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

ol{

}

li {
  /*padding-left: 16px; */
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: large;
  font-weight: 300;
  color: black;
  border-radius: 5px;
}

li::before {
 /* content: ;/*
  /* Insert content that looks like bullets */
  padding-right: 2px;
  /* color: blue; /* Or a color you prefer */
}

#search-bar {
  width: 50%;
  padding: 10px;
  font-size: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}


#search-button {
  padding: 10px;
  font-size: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #020f06;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#search-button:hover {
  background-color: #45a049;
}

p {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: large;
  font-weight: 300;
  color: black;
  border-radius: 5px;
}